body {
  margin: 1vh;
  height: 98vh;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1vh;
}

* {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;;
}


#send_form {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 2vw;
}


#messages {
  display: flex;
  gap: 1vw;
  padding: 1vw;
  flex-grow: 1;
  overflow-y: hidden;
}

