body {
  margin: 0;
}

#wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 1vh;
}

#button_start {
  cursor: pointer;
}

#button_start:disabled {
  opacity: .3;
  cursor: default;
}

button {
  grid-area: 1 / 1;
}