body {
    margin: 0;
    height: 100vh;
    background-image: url(./back_image_playing.jpg);
    background-position: center;
    background-size: cover;
  
    --width: 70vw;
    --font_size: 4vh;
  }

  body.bingo {
    background-image: url(./back_image_bingo.jpg);
  }
  
  .bingo_word {
    font-family: "Nabla";
    font-size: var(--font_size);
  
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
  }
  
  #cards {
    width: var(--width);
    margin: 0 auto;
    padding: 2vw;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 11vh;
    gap: .5vw;
    
    position: relative;
    z-index: 10;
  }
  
  .card {
    position: relative; /* for bingo_word */
  
    background-color: rgba(255,255,255,.88);
    border: 1px solid black;
    border-radius: 1vh;
    box-shadow: 0 0 .5vh black;
    padding: .5vw .5vw;
  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5vw;
  
    transition: background-color 1s;
  }
  
  .card.bingo {
    background-color: #222;
  }

  .card.not_bingo {
    opacity: .3;
  }
  
  
  .card .number {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(0,0,0,.3);
    border-radius: 1vh;
  
    transition: background-color 1s;
  }
  
  .card .number.marked {
    background-color: red;
  }
  
  
  #control {
    --dims: 7vh;
  
    width: var(--width);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2vh;
    background-color: rgba(255,255,255,.3);
    --top_br: 5vh;
    --bottom_br: 10vh;
    border-top-left-radius: var(--top_br);
    border-top-right-radius: var(--top_br);
    border-bottom-left-radius: var(--bottom_br);
    border-bottom-right-radius: var(--bottom_br);
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vh;
  
    position: relative;
    z-index: 10;
  }
  
  #control .number {
    cursor: pointer;
  
    flex-basis: var(--dims);
    height: var(--dims);
    box-shadow: 0 0 1vh black;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border-radius: 50%;
    background-color: rgba(0,0,0,.75);
    border: 2px solid rgba(255,255,255,.6);
    color: #ddd;
  }
  
  #control > .number:hover {
    background-color: #ddd;
    color: #222;
  }
  
  #control > .number.not_out {
    transition: opacity 1s;
    opacity: .5;
    pointer-events: none;
  }
  
  #control > .number.out {
    transition: background-color .5s, border-color .5s, color .5s;
    background-color: rgba(255,255,255,.7);
    border-color: #fff;
    color: #222;
    pointer-events: none;
  }