body {
  margin: 0;
}

#wrapper {
  padding: 20vh;
}

input {
  padding: 2vh;
  margin-bottom: 2vh;
}

#definition {
  border-radius: 1vh;
  background-color: lightgrey;
  padding: 2.5vh;
}

#definition.not_found {
  background-color: lightcoral;
}
