
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > div {
  display: grid;
  flex-basis: 100%;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

body > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}