body {
  margin: 0px;
}

button {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.button.active {
  background-color: var(--darkColor);
  color: var(--whiteColor);
}

button.hide {
  display: none;
}

.filterButtons > button.active {
  background-color: var(--darkColor);
  color: var(--whiteColor);
}

#allFilters {
  position: absolute;
  transition: top 300ms;
  top: -270px;
  background-color: var(--whiteColor);
  padding: 5px;
  width: calc(100% - 10px);
  border-bottom: 1px solid var(--blackColor);
  border-radius: 0px;
}

#allFilters.showFilters {
  top: 120px;
}

#activeFilter > button {
  margin: 5px;
}

#filterToggle {
  padding: 3px 10px;
  border: 1px solid var(--darkColor);
  border-radius: 50px;
  margin: 10px;
  background-color: var(--whiteColor);
  cursor: pointer;
  max-height: 27.5px;
}

#filterToggle:hover {
  background-color: var(--darkColor);
  color: var(--lightColor);
}

#activeFilter.hideFilters > button {
  opacity: 0;
}

.filterButtons {
  flex-wrap: wrap;
}

.filterButtons > button {
  border-radius: 50px;
  padding: 3px 10px;
  border: 1px solid var(--darkColor);
  background-color: var(--whiteColor);
  transition: background-color 300ms;
}

.filterButtons > button:hover {
  background-color: var(--darkColor);
  color: var(--lightColor);
}

.activeButton {
  border-radius: 0px;
  padding: 3px;
  border: 1px solid var(--darkColor);
}

.filterContainer {
  display: flex;
  flex-direction: column;
}

.filterContainer > div:nth-child(1) {
  margin-left: 3px;
  width: 50px;
  display: flex;
  justify-content: center;
  border-radius: 0px;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.filterContainer > div {
  font-weight: 400;
}

.showButtons + .filterButtons {
  display: flex;
}

.filterButtons {
  flex-shrink: 1;
}

.filterButtons > button {
  margin: 5px;
}

.filterContainer {
  margin-bottom: 20px;
}
