#followContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #151515;
  color: white;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  font-family: 'Mukta', sans-serif;
  z-index: 4;
}

.inputBox {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

.addInput {
  width: 91vw;
  height: 3vh;
  border: 0px;
}

#following-container {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #151515;
  color: white;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
  font-family: Nunito Sans, sans-serif;
  z-index: 4;
}

.follow-count {
  margin-top: 90px;
}

.followWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 14px;
}

.followDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 14pt;
  border: 1px solid rgb(61, 61, 61);
}

.img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

.name {
  flex-grow: 1;
  text-align: center;
}

.nan {
  text-align: center;
}

.follow-count {
  font-size: 16pt;
  border-bottom: 1px solid;
  margin-right: 200px;
  color: #c3c2c2;
}
