.search-container {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: scroll;
  scrollbar-width: none;
  background-color: #151515;
  width: 100%;
  z-index: 3;
}

.search-nav-container {
  margin-top: 80px;
  display: flex;
  width: 100vw;
}

.search-field-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.search-field-container > span {
  color: #484545;
  position: absolute;
  right: 6vw;
  top: 0.4vh;
  font-size: 24px;
}

.search-field {
  width: 91vw;
  height: 3.2vh;
  border: 0px;
  font-family: Nunito Sans, sans-serif;
  padding-left: 5px;
}

.search-result-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 14px;
}

.search-result-wrapper > div {
  background-size: cover;
  background-position: center;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userDiv {
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  border: 1px solid rgb(78, 78, 78);
}

.search-user-button:hover {
  cursor: pointer;
}

.search-movie-button:hover {
  cursor: pointer;
}

.active {
  background-color: #2a292984;
}

.active-user-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active-user-search > div {
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  border: 1px solid rgb(78, 78, 78);
  width: 91vw;
  border-radius: 2px;
  font-family: Nunito Sans, sans-serif;
}

.search-movie-button,
.search-user-button {
  font-family: Nunito Sans, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 15px;
  border: 0.5px solid rgb(48, 46, 46);
}

.searchPersonDiv {
  border-radius: 50%;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  background-color: #1f1e1e84;
  border: 0.5px solid rgb(48, 46, 46);
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: contain;
}

.searchPersonDiv > span {
  margin-right: 30px;
  margin-left: 30px;
  font-size: 30px;
  margin-bottom: 2px;
}
