body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    background-color: blue;
    box-shadow: 10px 10px 0 gray;
    height: 40vh;
    width: 40vh;
    position: relative;
    cursor: pointer;
}

.circle {
    position: absolute;
    background-color: red;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
